#container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  #navbar {
    flex: 0 0 auto;
    height: 40px;
    width: 100%;
    text-align: center;
    padding: 24px;
    background-color: lightblue;
  }
  
  #search {
    flex: 0 0 auto;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 24px;
    background-color: lightgray;
  }
  
  #table {
    flex: 1 1 auto;
    width: 100%;
    position: relative;
  }
  
  #table-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  
  #table-container table {
    width: 100%;
  }
  
  .mat-row-header {
    position: sticky;
    top: 0;
    background-color: white;
    font-weight: bold;
  }
  td:hover {
    background-color: #78ADD2;
    cursor: pointer;
}
.selected {
    background-color: #78ADD2;
  }
  